<h1>Households#show</h1>
<p>Find me in app/views/households/show.html.erb</p>
<ul class = "list-unstyled">
<li><%=@household.long%></li>
<li><%=@household.lat%></li>
<li><%=@household.code%></li>
<li><%=@household.lat%></li>
<li><%=@household.lat%></li>

</ul>
